*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;  
}
:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
body{
    min-height: 100vh;
    position: relative;;
    margin: 0 auto;
    background: #000000;
}

form{
    position: relative;
    width: 1200px;
    height: 764px;
    margin: 109px 0 0 120px;
    background: #1e1e1e;
    border-radius: 20px;
}

.user {
    display: block;
    position: relative;
    height: 45px;
    margin: 31px 0 0 36px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
    margin-top: 80px;
  }

  .pass {
    display: block;
    position: relative;
    height: 45px;
    margin: 53px 0 0 36px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
.Login {
    display: block;
  position: relative;
  height: 70px;
  margin: 0 0 0 0;
  color: #5c6bc0;
  font-family: Outfit, var(--default-font-family);
  font-size: 32px;
  font-weight: 200;
  line-height: 120px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 2.56px;
  z-index: 1;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #5f5cc0;
  left: 33px;
}

.username{
    position: relative;
  width: 526px;
  height: 48px;
  margin: 7px 0 0 36px;
  background: #000000;
  z-index: 5;
  overflow: hidden;
  border-radius: 20px;
  color:#ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  
}

.username input{
    background: 100%;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 48px;
    font-size: 20px;
}

.password{
    position: relative;
  width: 526px;
  height: 48px;
  margin: 7px 0 0 36px;
  background: #000000;
  z-index: 5;
  overflow: hidden;
  border-radius: 20px;
  color:#ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
}

.password input{
    background: 100%;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 48px;
    font-size: 20px;
}

.loginBtn{
    position: relative;
  width: 526px;
  height: 48px;
  margin: 53px 0 0 40px;
  cursor: pointer;
  background: #5f5cc0;
  border: none;
  z-index: 14;
  border-radius: 20px;
  display: flex; 
  align-items: center; 
  color: #ffffff;
  justify-content: center;
  font-family: Outfit, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30.24px;
  text-align: center;
}

.loginBtn:hover{
    background-position: right;
    font-size: 24px;
}

.signup{
    color: white;
    text-align: center;
    margin-top: 45px;
    margin-right: 900px;
}

.signup a{
    color: #5f5cc0;
}

.rectangle-6 {
    position: absolute;
    width: 500px;
    height: 682px;
    top: 42px;
    left: 652px;
    font-size: 0px;
    background: #000000;
    z-index: 11;
    border-radius: 20px;
  }
  .welcome-to {
    display: block;
    position: relative;
    height: 45px;
    margin: 239px 0 0 127px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .c-programming {
    display: block;
    position: relative;
    height: 60px;
    margin: 52px 0 0 75px;
    color: #5c6bc0;
    font-family: Outfit, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .virtual-lab {
    display: block;
    position: relative;
    height: 45px;
    margin: 0 0 0 159px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }