body{
    background-color: #121212;
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    padding: 20px 60px;
}
.logo{
    color: rgb(92, 107, 192);
    font-size: 64px;
    font-family: "Outfit", system-ui;
    font-weight: bold;
    margin: 0;
}
.logo:hover{
    cursor: default;
}
.kjlogo {
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav {
    display: flex;
    align-items: center;
}
.home{
    background-color: #121212;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}
.homeddown {
    position: relative;
    margin-left: 30px;
}
.homeddowncontent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.homeddowncontent a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.homeddowncontent a:hover{background-color: #121212;}
.homeddown:hover .homeddowncontent {
    display: block;
}
.home:hover{
    color:rgb(92, 107, 192)
}
.contact{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
.contact:hover {
    color: rgb(92, 107, 192);
}
.container{
    width: 270px;
    max-height: 150px;
    margin-top: -40px;
}
.intro{
    background-color: #121212;
    color: white;
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.introddown{
    position:relative;
    display: inline-block;
    margin-left: 59px;
    margin-top: 90px;
}
.ddown2{
    position:relative;
    margin-left: 59px;
    margin-top: 10px;
}
.introddowncont{
    display: none;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.introddowncont a{
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.introddowncont a:hover {background-color: #121212;}
.introddown:hover .introddowncont {display: block;}
.ddown2:hover .introddowncont {display: block;}
.intro:hover{
    color: rgb(92,107,192);
}
main{
    font-size: 20px;
    color: white;
    text-align: center;
}
.the1{
    font-size: 40px;
    font-weight: bold;
}
.the1:hover{
    color: #C19770;
    cursor: default;
}
.the2{
    color: rgb(92,107,192);
    font-size: 40px;
    font-weight: bold;
    cursor: default;
    margin-top: -20px;
}
.the2kainfo{
    text-align: left;
    margin-left: 300px;
    width: 1000px;
    overflow-y:auto;
    max-height: 340px;
    scroll-behavior: smooth;
}
.the2kainfo::-webkit-scrollbar{
    width: 20px;
}
.the2kainfo::-webkit-scrollbar-track{
    background: #333333;
    border-radius: 10px;
}
.the2kainfo::-webkit-scrollbar-thumb{
    background-color: rgb(92,107,192);
    border-radius: 10px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 172px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -8px;
    padding: 10px;
    background-color: #333333;
    max-height: 100px;
}
.footerinfo{
    color: white;
    font-weight: bold;
    text-align: center;
}
.trust{
    width: 100px;
    height: 100px;
}